[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
google-cloud-storage = "*"
google-cloud-datastore = "*"
pillow = "*"
google-cloud-vision = "*"
google-cloud = "*"

[requires]
python_version = "3.5"
