[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
google-cloud-storage = "*"
google-cloud-datastore = "*"
pillow = "*"
google-cloud-vision = "*"
google-cloud = "*"
pyfirmata = "*"
"pycreate2" = "*"
opencv-python = "*"
numpy = "*"
paho-mqtt = "*"
scipy = "*"
imutils = "*"

[requires]
python_version = "3"
